:root {
  --white: #ffffff;
  --black: #000000;
  --blue-light: #74b9ff;
  --blue: #0984e3;
  --blue-dark: #0675cb;
  --grey: #2d3436;
  --red: rgb(233, 78, 78);
}

.App {
  text-align: center;
}

.App-logo {
  animation: spinner infinite 10s linear;
  height: 80px;
}

.App-header {
  background-color: #222222;
  padding: 30px 15px;
  color: var(--white);
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.App-intro {
  font-size: large;
}

.btn {
  font-size: 1em;
  padding: 1em 2em;
  border-radius: 4px;
  border: none;
  margin: 10px;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--grey);
  transition: background-color .1s ease-in-out;
  color: #ffffff;
}

.btn:hover {
  background-color: var(--blue-dark);
}

.btn__disabled {
  color: #ececec;
  cursor: not-allowed;
  pointer-events: none;
  background-color: var(--blue-light);
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader--text {
  font-size: 2rem;
  line-height: 2;
  color: var(--black);
}

@keyframes spinner {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
